/*
Denise M. Gilbert
AVF Term 1308
index.css Page
*/

body {
    text-transform:uppercase;
    width: 100%;

}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media only screen and (min-width:1024px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

h1 {
	color: #044371;
	font-size:24px;
    font-weight: bold;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	font-style: italic;
	font-size: medium;
	font-weight: normal;
}

h3 {
    color: #840D1C;
    font-size: 12pt;
    margin-left: 25px;
    padding: 0px;
    text-align: center;
}

h4 {
    color: #581E59;
    font-size:20px;
    font-weight: bold;
}

h5 {
    color: #000000;
    font-size:20px;
    font-weight: bold;
}

p {
	font-size: 22px;
}

a {
    color: blue;
}

dt {
    font-size: 14pt;
    font-weight: bold;
    padding-left: 22px ;
    text-indent: -22px ;
    margin-bottom: 22px;
    text-transform: none;
}

dd {
    font-size: 14pt;
    margin-left: 22px ;
    margin-bottom: 22px;
    text-transform: none;
}

/************************************* jQUERY MOBILE CSS *************************************/

ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}

.ui-header {
	background: #044371;
	border-color: #044371;
	padding-top: 15px;
    text-align: left;
}

.logoSpacing {
    margin-left: 25px;
    margin-bottom: 10px;
}

.ui-btn {
	background: #036F8D;
	border-color: #036F8D;
	color: white;
	text-shadow: none;
    cursor: pointer;
}

.ui-btn-active {
	background: #044371;
	border-color: #044371;
    color: white;
}

.ui-footer {
	background: #581E59;
	border-color: #581E59;
}

.ui-page {
	background: transparent;
}

.ui-li-divider {
    background: #C1B298;
    border-color: #C1B298;
    color: #044371;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

.listviewImages {
	padding-left: 10px;
}

.liLabels {
	color: white;
	text-shadow: none;
}

/************************************* INSTAGRAM *************************************/



.instaPics img { 
    border: 3px solid #044371;
    margin-bottom: 0px;
    max-width: 100%;
}

.instaPics {
    display: inline;
    float: left;
}

/************************************* GOOGLE MAP *************************************/

#map {
    width: 100%;
    height: 400px;
}

/************************************* CAMERA *************************************/



/************************************* MEDIA QUERY - PORTRAIT ORIENTATION *************************************/

@media only screen and (min-width: 768px) {

    .instaPics {
        padding-left: 3.4%;
        width: 29.3%;
    }
}

/************************************* MEDIA QUERY - LANDSCAPE ORIENTATION *************************************/

@media only screen and (min-width: 1024px) {
    
    .instaPics {
        padding-left: 2.4%;
        width: 22%;
    }
}

